<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dariogonzalez.fitplaygames" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".FitPlayGamesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="dariogonzalez.fitplaygames.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="dariogonzalez.fitplaygames.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="dariogonzalez.fitplaygames.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName="dariogonzalez.fitplaygames.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dariogonzalez.fitplaygames.MainActivity" />
        </activity>
        <activity
            android:name="dariogonzalez.fitplaygames.FitbitAuthenticationActivity"
            android:label="Fitbit Authentication"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="dariogonzalez.fitplaygames.PrivacyPolicyActivity"
            android:label="@string/title_activity_privacy_policy"
            android:parentActivityName="dariogonzalez.fitplaygames.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dariogonzalez.fitplaygames.MainActivity" />
        </activity>
        <activity
            android:name="dariogonzalez.fitplaygames.LeaderBoardActivity"
            android:label="@string/title_activity_leader_board"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dariogonzalez.fitplaygames.MainActivity" />
        </activity>
    </application>

</manifest>
