<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dariogonzalez.fitplaygames" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="dariogonzalez.fitplaygames.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="dariogonzalez.fitplaygames.permission.C2D_MESSAGE" />

    <application
        android:name=".FitPlayGamesApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="@string/title_activity_reset_password"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dariogonzalez.fitplaygames.LoginActivity" />
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dariogonzalez.fitplaygames.MainActivity" />
        </activity>
        <activity
            android:name=".FitbitAuthenticationActivity"
            android:label="Fitbit Authentication"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PrivacyPolicyActivity"
            android:label="@string/title_activity_privacy_policy"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dariogonzalez.fitplaygames.MainActivity" />
        </activity>
        <activity
            android:name=".Friends.SearchFriendActivity"
            android:label="@string/title_activity_search_friend"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dariogonzalez.fitplaygames.MainActivity" />
        </activity>
        <activity
            android:name=".ChooseChallengeActivity"
            android:label="@string/title_activity_choose_challenge"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dariogonzalez.fitplaygames.MainActivity" />
        </activity>
        <activity
            android:name=".HotPotatoCreateActivity"
            android:theme="@style/HotPotatoTheme"
            android:label="@string/title_activity_hot_potato_challenge"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dariogonzalez.fitplaygames.HotPotatoCreateActivity" />
        </activity>
        <activity
            android:name=".CaptureTheCrownCreateActivity"
            android:theme="@style/CaptureTheCrownTheme"
            android:label="@string/title_activity_capture_crown_challenge"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dariogonzalez.fitplaygames.CaptureTheCrownCreateActivity" />
        </activity>
        <activity
            android:name=".InviteFriendsActivity"
            android:label="@string/title_activity_invite_friends"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Friends.SearchFriendActivity" />
        </activity>
        <activity
            android:name=".MainChatActivity"
            android:label="@string/title_activity_main_chat"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dariogonzalez.fitplaygames.MainActivity" />
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver
            android:name=".Receiver.CustomPushReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

<!--                   IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="dariogonzalez.fitplaygames" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@drawable/ic_notify_small" />

        <receiver android:name=".AlarmManager.AlarmReceiver" />

        <service android:name=".AlarmManager.SchedulingService" />

        <activity
            android:name=".HotPotatoDetailsActivity"
            android:theme="@style/HotPotatoTheme"
            android:label="@string/title_activity_hot_potato_details"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dariogonzalez.fitplaygames.MainActivity" />
        </activity>
        <activity
            android:name=".CaptureTheCrownDetailsActivity"
            android:theme="@style/CaptureTheCrownTheme"
            android:label="@string/title_activity_capture_crown_details"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dariogonzalez.fitplaygames.MainActivity" />
        </activity>
        <activity
            android:name=".LeaderBoard.LeadboardActivity"
            android:label="@string/title_leaderboard"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dariogonzalez.fitplaygames.MainActivity" />
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="78611f589eceaf32dfe9f6362a3f8a65e3ae38a5" />
    </application>

</manifest>
